@import '../../variables.module.scss';

.eventNote {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;
    align-items: start;
    width: auto;

    .top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;

        .timeCaption {
            color: $tint;
        }
    }
      
    .titleCaption {
        color: $text;
        width: 100%;
        text-align: start;
    }
}

.background {
    background-color: $secondary;
}

