$primary: #1D3371;
$secondary: #DDE2FF;
$text: #0F0F10;
$background: #FDFDFF;
$dark: #001345;
$error: #DF4B4B;
$error-container: #FFDAD6;
$text-secondary: #565D78;
$tint: #475B9C;
$on-primary-container: #B7C6FF;
