@import '../../variables.module.scss';


.calendarBox{
    align-items: start;
    display: flex;
    min-height: 600px;
    height: 100%;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

